:root {
  --kursiv-text: "Cabin";
  --main-font: "PoiretOne";
  --background-color: #f4f1ea;
  --main-color: #545454;
  --beige-text: #DFD9C9;
  --timer-font: "GentiumPlus";
}

html,
body {
  font-family: var(--main-font), cursive;
  background-color: #f4f1ea; 
}

